[Desktop Entry]
Name=Beryllium OS Config
Comment=Launch bredos-config in terminal
Exec=beryllium-config
Terminal=true
Type=Application
Categories=Utility;
Icon=be_black
